
body {
background-color: lightblue;
}

h1 {
  font-size: 96px;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 38px;
  font-weight: bold;
  text-align: left;
}

#paragraph2 {
  background-color: white;
  border: 3px solid green;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 30px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  line-height: 2;
}
  
.blue{
  background-color: blue;
  color:white;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

ol li::marker {
font-size: 24px; 
content: counter(num, decimal-leading-zero);
}

a[href="http://www.w3schools.com"] { 
  color: orange; 
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th { 
  background-color: grey;
  font-weight: bold; 
  text-align: center;
}
th, td{
  border: 1px solid black;
}
tr{
    background-color: white;
}
ol { 
  list-style: none; counter-reset: num; 
} 
ol li { 
  counter-increment: num; 
} 

  
