body {
background-color: lightblue;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

paragraph2 {
  background-color: white;
  border: 3px solid green;
}

