article p:first-of-type::first-letter {
  font-size: 36px;
  font-weight: bold;
  font-family: "Times New Roman";
}


article a[href*="google.com"]::after {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-image: url("arrow.png");
}


article p:first-of-type, h2 {
    color: #D3D3D3;
    transition: color 2s;
}



article {
  transition: transform 2s;
}
article:hover{
  transform: scale(1.25);
}


article:hover p:first-of-type, h2{
    color: black;
}



#menuItems {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    color: black;
    background: orange;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

main > header {
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    height: 80px;
    background: red;
    color: black;
    box-sizing: border-box;
    display: block;
    padding: 0 12px;
}

main > header > p {
    margin: 0;
    text-align: center;
    font-size: 32px;
    line-height: 120px;
    font-weight: bold;
}

main {
    margin-left: 15%;
    padding-top: 130px;
}
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 80px
}
body {
  margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-left: 50px;
    padding: 20px 0;
}
#container article {
    width: 300px;
    box-sizing: border-box;
}

#thanks {
    position: fixed;
    background: lightblue;
    border: 2px solid black;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    right: 0px;
    bottom: 0px;
}

button {
    background: blue;
    color: black;
    border: 2px solid black;
    padding: 10px 32px;
    font-size: 20px;
    cursor: pointer;
}


button:hover {
  background-color: darkorange;
}


#jumpMenu {
  display: none;
}


#recentArticles:hover {
  display: none;
}


#recentArticles:hover + #jumpMenu {
  display: block;
}


#jumpMenu:hover {
  display: block;
}


#jumpMenu:hover + #recentArticles {
  display: none;
}







