#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    color: black;
    background: orange;
    padding: 10px;
    text-align: center;
    display: block;
}


#jumpMenu h2 {
    font-size: 36px;
    text-align: center;
}


#jumpMenu a {
  display: block;
  margin: 8px 0;
  font-size: 20px;
}


body {
  margin: 0;
}


main > header {
  position: fixed;
  top: 0;
  left: 200px;
  right: 0;
  height: 110px;
  background: red;
  color: black;
  box-sizing: border-box;
  display: block;
  padding: 0 12px;
}


main > header > p {
  margin: 0;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  font-weight: bold;
}


main > header > nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}

main > header > nav > button {
    background: blue;
    color: black;
    border: 2px solid black;
    padding: 8px 24px;
    font-size: 16px;
    cursor: pointer;
}


h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}


main {
    margin-left: 200px;
}



    

