#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    color: black;
    background: orange;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


#jumpMenu h2 {
    
    margin: 0 0 10px;
    font-size: 36px;
    text-align: center;
}


#jumpMenu a {
    flex: 1;
    display: block;
    margin: 8px 0;
    font-size: 24px;
}


body {
  margin: 0;
}


main > header {
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    height: 200px;
    background: red;
    color: black;
    box-sizing: border-box;
    display: block;
    padding: 0 12px;
}


main > header > p {
    margin: 0;
    text-align: center;
    font-size: 32px;
    line-height: 120px;
    font-weight: bold;
}


main > header > nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: black;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

main > header > nav > button {
    background: blue;
    color: black;
    border: 2px solid black;
    padding: 10px 32px;
    font-size: 20px;
    cursor: pointer;
}


h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 200px
}


main {
    margin-left: 15%;
    padding: 0 12px;
    padding-top: 130px;
}

#thanks {
    position: fixed;
    background: lightblue;
    border: 2px solid black;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    right: 0px;
    bottom: 0px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justif-content: center;
    padding-left: 20px;
    padding: 20px 0;
}
#container article {
    width: 300px;
    box-sizing: border-box;
}

    

