#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    color: black;
    background: orange;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}


#jumpMenu h2 {
    font-size: 36px;
}
