body {
  display: flex;
  justify-content: center;
  font: Arial;
  padding: 40px;
  background-color: #f2f2f2;
}

#app {
  max-width:400px;
  width: 100%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#pokemonDisplay{
  text-align: center;
  margin-top: 20px;
  border: 2px solid gold;
}
#pokemonImage{
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto 15px;
}

#moves {
  display: inline-block;
  width: 48%;
  margin-bottom: 10px;
}

#searchBar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
#searchBar input {
  flex: 1;
}

audio {
  width: 100%;
  margin-bottom: 15px;
}

#team {

  margin-top: 20px;
  text-align: center;
}

.teamed {
  background-color: white;
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 15px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
}

.teamed img{
  width: 80px;
  height: 80[x;
  object-fit: contain;

  display:block;
}

.teamed ul {
  padding-left: 20px;
  text-align: left;
  margin: 0;
}

