body {
  font: Arial;
  margin: 0;
  padding: 20px;
  background-color: light-blue;
}

#app {
  max-width:500px
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#pokemonDisplay{
  margin-top: 20px;
  padding: 15px;
  border: 1px solid yellow;
}
#pokemonImage{
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto 15px;
}

audio {
  width: 100%;
  margin-bottom: 15px;
}
